<h1>All Posts!</h1>

<% @posts.each do |post| %>
    <%= "#{post.title}:" %>
    <br>
    <%= post.content %>
    <br>
    <%= link_to "See Comments", post_comments_path(post)%>
    <%= button_to "Comment on this post", new_post_comment_path(post), method: :get %>
    <br>
    <br>
    <br>
<% end %>


