/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  nav, figcaption {
    text-align: center;
  }
  nav a{
    padding: 10px;
    position: center;
    top: 0;
    left: 0;
    transform: none;
  }
  * {
      text-align: center;
  }
  
 
 @media only screen {
    body {
      background-color: #FFFAF0;
    }
    a {
        color: #696969;
        text-align: center;
    }
    h1 {
        color: #A9A9A9;
        text-align: center;
    }
  }
  #recipes_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  input[type="submit"] {
    background-color: aliceblue;
    border-radius: 25%;
  }
  a:hover {
    color: black;
  }
  
 